In [1]:
import sys 
import pandas as pd
from influxdb import InfluxDBClient
import os


current_dir = os.getcwd()

project_root = os.path.join(current_dir, '..', '..')

if project_root not in sys.path:
    sys.path.append(project_root)

from enricher.src.querying import setup_connection, fill_nulls, query_garmin

In [2]:

client = setup_connection(database='Enricher')

--- Attempting Connection ---
Port: 8181
Database: Enricher
Token: Set
-----------------------------
âœ… Successfully connected to InfluxDB at http://localhost:8181

In [3]:
# Query to show all measurements
query = 'SHOW TABLES'
result = client.query(query)

print(result)

pyarrow.Table
table_catalog: string not null
table_schema: string not null
table_name: string not null
table_type: string not null
----
table_catalog: [["public","public","public","public","public",...,"public","public","public","public","public"]]
table_schema: [["iox","iox","system","system","system",...,"information_schema","information_schema","information_schema","information_schema","information_schema"]]
table_name: [["SleepDaily","VO2Daily","distinct_caches","influxdb_schema","last_caches",...,"columns","df_settings","schemata","routines","parameters"]]
table_type: [["BASE TABLE","BASE TABLE","BASE TABLE","BASE TABLE","BASE TABLE",...,"VIEW","VIEW","VIEW","VIEW","VIEW"]]

In [14]:
sql_query = 'SELECT * FROM "SleepDaily3" order by time'

reader = client.query(query=sql_query, language="sql")

# --- Process the Results ---
# Convert the Arrow result to a Pandas DataFrame for easy analysis

In [15]:
reader.to_pandas()

,DurationHR,SleepConsistencyIndex,SleepConsistencyIndexHR,SleepDuration,SleepHR,email,time
0,0.930000,NaN,NaN,8.000000,0.930000,alby.scotney@icloud.com,2025-08-23
1,0.930000,86.527778,0.957145,8.133333,0.890144,alby.scotney@icloud.com,2025-08-24
2,1.000000,85.138889,0.960767,6.750000,0.960767,alby.scotney@icloud.com,2025-08-25
3,0.930000,80.347222,1.007182,7.516667,0.936679,alby.scotney@icloud.com,2025-08-26
4,0.930000,88.819444,0.952141,7.250000,0.885491,alby.scotney@icloud.com,2025-08-27
5,0.930000,87.777778,0.954415,7.493889,0.887606,alby.scotney@icloud.com,2025-08-28
6,0.930000,86.875000,0.956386,8.750000,0.889439,alby.scotney@icloud.com,2025-08-29
7,0.930000,86.875000,0.956386,7.916667,0.889439,alby.scotney@icloud.com,2025-08-30
8,1.000000,90.277778,0.950000,6.816667,0.950000,alby.scotney@icloud.com,2025-08-31
9,1.042167,88.680556,0.952444,6.033333,0.992606,alby.scotney@icloud.com,2025-09-01
10,1.023833,87.291667,0.955477,6.166667,0.978249,alby.scotney@icloud.com,2025-09-02