In [1]:
import sys
import os

current_dir = os.getcwd()

project_root = os.path.join(current_dir, '..', '..')

if project_root not in sys.path:
    sys.path.append(project_root)

In [2]:
from influxdb import InfluxDBClient
import pandas as pd
from datetime import datetime

from src.querying import setup_connection, fill_nulls, query_garmin_with_age_and_sex
from src.vo2 import bilateral_interpolation

In [3]:
client = setup_connection()

sex = 'M'

Successfully connected to InfluxDB. Available databases: [{'name': 'GarminStats'}, {'name': '_internal'}]

In [1]:
query_vo2 = """
SELECT "VO2_max_value" as vo2 FROM "VO2_Max"
"""

df_vo2 = fill_nulls(query_garmin_with_age_and_sex(client, query_vo2, sex))

NameError: name 'fill_nulls' is not defined

In [5]:
baseline = pd.read_csv('baseline.csv')

In [6]:
interpolated_df = bilateral_interpolation(baseline, df_vo2)

In [7]:
interpolated_df

                            age sex   vo2        hr
time
2024-01-01 00:00:00+00:00  23.0   M  54.2  0.572698
2024-01-02 00:00:00+00:00  23.0   M  54.2  0.572698
2024-01-03 00:00:00+00:00  23.0   M  54.2  0.572698
2024-01-04 00:00:00+00:00  23.0   M  54.2  0.572698
2024-01-05 00:00:00+00:00  23.0   M  54.2  0.572698
...                         ...  ..   ...       ...
2025-08-13 00:00:00+00:00  25.0   M  53.7  0.594496
2025-08-14 00:00:00+00:00  25.0   M  53.7  0.594496
2025-08-15 00:00:00+00:00  25.0   M  53.7  0.594496
2025-08-16 00:00:00+00:00  25.0   M  53.7  0.594496
2025-08-17 00:00:00+00:00  25.0   M  53.7  0.594496

[595 rows x 4 columns]